<div class="container-fluid">
<%= render 'dashboard_shared/sidenavigation' %>


	<div class="col-md-10 col-xs-12">
		<div class="header">
			<h1 class="h3">Dashboard</h1>
		</div>
	</div>

	<div class="col-md-10 col-xs-12">
		<div class="header">
			<h1 class="h3">Products</h1>
		</div>
		<% if current_user.shop %>
		<div class="table-responsive">
		<table class="table">
			<tr>
				<td><strong>Name</strong></td>
				<td><strong>Price</strong></td>
				<td><strong>Created At</strong></td>
				<td><strong>Image</strong></td>
				<td><strong>Orders</strong></td>
				<td><strong>Category</strong></td>
				<td><strong>Actions</strong></td>
			</tr>
			<% current_user.shop.products.each do |p| %>
			<tr>
				<td><b><%= link_to(p.name, shop_product_path(@shop, p)) %></b></td>
				<td><%= p.price %></td>
				<td><%= p.created_at.strftime("%Y-%m-%d") %></td>
				<td><img src=<%= p.img_url %> height="300px" width="200px" /></td>
				<td><%= p.orders.size %></td>
				<td><% p.categories.each do |c| %><%= c.name %>,<% end %></td>
				<td><div class="btn-group"><%= link_to "Delete", product_path(p), method: :delete, data: {confirm: "Are you serious?"}, :class => "btn btn-danger" %><%= link_to "Edit", edit_product_path(p), :class => "btn btn-warning" %></div></td>
			</tr>
		 	<% end %>
		</table>
		</div>
		<% else %>
			<h1>You don't have a shop yet</h1>
			<%= link_to "Create new", new_shop_path %>
		<% end %>
	</div>
</div>


<style type="text/css">


</style>










