<footer>
     <div class="container">
       <div class="row">

                <div class="col-md-4 col-sm-6 col-xs-12">
                  <span class="logo"><%= @shop.name %></span>
                  <h1 class="h5"><%= @shop.description %></h4>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="menu">
                         <span>Menu</span>
                         <li>
                            <a href="#">Home</a>
                          </li>

                          <li>
                             <a href="">About</a>
                          </li>

                          <li>
                            <a href="#">Blog</a>
                          </li>

                          <li>
                             <a href="#">Refund Policy</a>
                          </li>
                          <li>
                          	<a href="#">Privacy Policy</a>
                          </li>
                     </ul>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                  <ul class="adress">
                        <span>Contact</span>
                        <li>
                           <i class="fa fa-phone" aria-hidden="true"></i> <a href="#"><%= @shop.phone %></a>
                        </li>
                        <li>
                           <i class="fa fa-map-marker" aria-hidden="true"></i> <a href="#"><%= @shop.location %></a>
                        </li>
                        <li>
                           <i class="fa fa-envelope" aria-hidden="true"></i> <a href="#">support@me.com</a>
                        </li>
                   </ul>
               </div>


           </div>
           <div class="row">
           		<h1 class="h5 text-center">&copy; <%= @shop.name %></h1>
           </div>
           <div class="row">
           		<h1 class="h5 text-center">Proudly Powered By Belgin</h1>
           </div>
        </div>
</footer>




<style type="text/css">
	footer{
     background-color: #fff;
     padding:30px 0px;
     margin-top: 60px;
     border-top: 1px solid #efefef;
	}

	.logo{
	    color:#777;
	    font-weight:800;
	    font-size:30px;
	}

	.adress span , .menu span{
	   color: #777;
	   font-weight: 800;
	   border-bottom: 1px solid #c7c7c7;
	   padding-bottom: 10px;
	   margin-bottom: 20px;
	   display: block;
	   text-transform: uppercase;
	   font-size: 16px;
	   letter-spacing: 3px;
	}

	.adress li a , .menu li a{
	    color:#212b35;
	    letter-spacing: 3px;
	    text-decoration:none;
	    font-size:12px;
	}

	.adress li, .menu li{
	    margin-top: 5px;
	    list-style: none;
	}

	.adress li a:hover , .menu li a:hover{
	    color: #da3e44;
	    -webkit-transition: all 1s ease-in-out;
	    -moz-transition: all 1s ease-in-out;
	    -o-transition: all 1s ease-in-out;
	    transition: all 1s ease-in-out;
	}

	footer .fa{
	    margin-right: 10px;
	    font-size:14px;
	}
</style>
